<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">  
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="page-content">
            <h1>
            {{>header}}
            </h1>
            <p>This site was created by Mariam Boules</p>
            <img class="portrait" src="/img/Headshot.JPG">
        </div>
        
        <p>
            {{>footer}}
        </p>
    </body>
</html>
